<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-4 ">
      <ul class="social-ft">
        <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a target="_blank" href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a target="_blank" href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="col-xl-4 col-md-4">
      <ul class="contact">
        <p>liên hệ <i class="fab fa-mailchimp"></i></p>
        <hr>
        <li><i class="fas fa-phone-square"></i>Hotline: 123123 - Fax : 123123</li>
        <li><i class="fas fa-envelope"></i>Email: nta4420@gmail.com</li>
      </ul>
    </div>
    <div class="col-xl-4 col-md-4">
      <ul class="address">
        <p>địa chỉ <i class="fas fa-map-marked-alt"></i></p>
        <hr>
        <li><i class="fas fa-directions"></i>Address: 19 Đường số 3 Trần Não Q2 và 436B/24 Đường 3/2 P12 Q10. Thành phố Hồ Chí Minh 70000</li>
      </ul>
    </div>
  </div>
</div>